body {
    background-color:grey;
}

.headlable{
    color:#EDFBCE;
    text-align:center;
}

.headlink{
    color:white;
    font-size: x-large;

}

.header{
    width: 1324px;
    height: 98px;
    
    background-color:black;
    color: white;
    border-radius: 10px;
}

.test1 {
    width: 434px;
    height: 200px;
    border-radius: 10px;
    background-color: black;
    display: inline-block;
    margin-left: 5px;
    color: white;
}
.test2
{
    color:#DE8787;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color:  yellow;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: white;
}

#addnews{
    position: relative;
    top: -57px;
    right: -144px;
    background: #DCE0A1;

}

#search{
    position: relative;
    top: -40px;
    right: -1137px;
}

#login{
    position: relative;
    top: -82px;
    right: 164px;
}

#signup{
    position: relative;
    top: -82px;
    right: 160px;
}

.button{
    width: 78px;
	height: 40px;
	background: #DCE0A1;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

button{
    width: 60px;
	height: 30px;
	background: #DCE0A1;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
