body {
    background-color:grey;
}

.headlable{
    color:#EDFBCE;
    text-align:center;
}

.headlink{
    color:white;
    font-size: x-large;

}

.header{
    width: 1324px;
    height: 98px;
    
    background-color:black;
    color: white;
    border-radius: 10px;
}

.test1 {
    width: 434px;
    height: 200px;
    border-radius: 10px;
    background-color: black;
    display: inline-block;
    margin-left: 5px;
    color: white;
}
.test2
{
    color:#DE8787;
}

a{
    color:white;
}

#News_Add_Button{
    position: relative;
    top: -86px;
    right: -1184px;
}
